In [1]:
from API_webHMI import *
from defs import *
from head import headers, device_adress
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
def conn():
    print('1: Connection Req\n')
    # displayHeader(headers)
    req1 = connectionList(device_adress, headers)  # pobranie listy polaczen plc.
    return req1

In [4]:
req1=conn()
connections=pd.DataFrame(req1)
connections['plcid']=connections['id']
connections.index=connections['id']
connections.head()

1: Connection Req

,addr,address_offset,allow_group,baudrate,bitscount,category,cloud_sync,description,device,disable_on_error,disable_regs_count,disable_scans_count,disable_timeout,disabled,group_limit,id,melsec_frame,melsec_moduleionumber,melsec_modulestationnumber,melsec_networknumber,melsec_pcnumber,melsec_port,mode,model,order_id,parity,port,protocol,regs_mtime,serialnumber,simulate,skipscanregscount,sku,stabilization,stopbit,timeout,title,tsap,unitid,variable,plcid
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,192.168.10.10,0,1,9600,8,0 RG,0,,/dev/rs485,0,3,2,10,0,5,1,0,1023,0,0,255,5012,0,2,0,e,503,2,1549607655,,0,50,,0,1,5000,APAR_30.1,301,1,,1
2,192.168.10.10,0,1,9600,8,0 RG,0,,/dev/rs485,0,3,2,10,0,5,2,0,1023,0,0,255,5012,0,2,0,e,503,2,1549607655,,0,50,,0,1,3000,APAR_31.2,301,2,,2
3,192.168.10.10,0,1,9600,8,0 RG,0,,/dev/rs485,0,3,2,10,0,5,3,0,1023,0,0,255,5012,0,2,0,e,503,2,1549607656,,0,50,,0,1,3000,APAR_32.3,301,3,,3
4,192.168.10.10,0,1,9600,8,0 RG,0,,/dev/rs485,0,3,2,10,0,5,4,0,1023,0,0,255,5012,0,2,0,e,503,2,1549607656,,0,50,,0,1,3000,APAR_33.4,301,4,,4
5,192.168.10.10,0,1,9600,8,0 RG,0,,/dev/rs485,0,3,2,10,0,5,5,0,1023,0,0,255,5012,0,2,0,e,503,2,1549607657,,0,50,,0,1,3000,APAR_34.5,301,5,,5

In [5]:
def reg():
    print('\n2 :Registers Req\n')
    # displayHeader(headers)  # wystarczy podstawowy naglowek
    req2 = registerList(device_adress, headers)  # odczytanie listy rejestrow
    return req2
registers=pd.DataFrame(reg())
registers.head()

2 :Registers Req

,addr,alert_color,category,delay,dictid,disabled,disabled_color,graph_color,has_alert,has_disabled,has_normal,has_warning,id,max_allowed_value,measureUnits,min_allowed_value,modbusAddr,normal_color,order_id,plcid,precision_digits,priority,save_graph_data,save_to_log,time_duration,timeformat,title,type,value_format,variable,warning_color
0,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,1,,%RH,,,#34d357,1,1,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518
1,HR7,#ee434d,,0,0,0,#cccccc,#aa55a1,0,0,0,0,2,,°C,,,#34d357,2,1,1,0,1,0,0,Y-m-d H:i:s,Temperatura,2,1,,#f0b518
2,HR8,#ee434d,,0,0,0,#cccccc,#fff450,0,0,0,0,3,,g/m3,,,#34d357,3,1,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc bezwgledna,2,1,,#f0b518
3,HR9,#ee434d,,0,0,0,#cccccc,#fcb540,0,0,0,0,4,,°C,,,#34d357,4,1,1,0,1,0,0,Y-m-d H:i:s,Punkt rosy/szronu,2,1,,#f0b518
4,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,5,,%RH,,,#34d357,1,2,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518

In [6]:
regList = pd.merge(registers,connections[['title','plcid']],on='plcid')
regList.index=regList['id']
regList.head()

,addr,alert_color,category,delay,dictid,disabled,disabled_color,graph_color,has_alert,has_disabled,has_normal,has_warning,id,max_allowed_value,measureUnits,min_allowed_value,modbusAddr,normal_color,order_id,plcid,precision_digits,priority,save_graph_data,save_to_log,time_duration,timeformat,title_x,type,value_format,variable,warning_color,title_y
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,1,,%RH,,,#34d357,1,1,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518,APAR_30.1
2,HR7,#ee434d,,0,0,0,#cccccc,#aa55a1,0,0,0,0,2,,°C,,,#34d357,2,1,1,0,1,0,0,Y-m-d H:i:s,Temperatura,2,1,,#f0b518,APAR_30.1
3,HR8,#ee434d,,0,0,0,#cccccc,#fff450,0,0,0,0,3,,g/m3,,,#34d357,3,1,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc bezwgledna,2,1,,#f0b518,APAR_30.1
4,HR9,#ee434d,,0,0,0,#cccccc,#fcb540,0,0,0,0,4,,°C,,,#34d357,4,1,1,0,1,0,0,Y-m-d H:i:s,Punkt rosy/szronu,2,1,,#f0b518,APAR_30.1
5,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,5,,%RH,,,#34d357,1,2,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518,APAR_31.2

In [7]:
regList[regList['plcid']=='3']

,addr,alert_color,category,delay,dictid,disabled,disabled_color,graph_color,has_alert,has_disabled,has_normal,has_warning,id,max_allowed_value,measureUnits,min_allowed_value,modbusAddr,normal_color,order_id,plcid,precision_digits,priority,save_graph_data,save_to_log,time_duration,timeformat,title_x,type,value_format,variable,warning_color,title_y
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,9,,%RH,,,#34d357,1,3,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518,APAR_32.3
10,HR7,#ee434d,,0,0,0,#cccccc,#aa55a1,0,0,0,0,10,,°C,,,#34d357,2,3,1,0,1,0,0,Y-m-d H:i:s,Temperatura,2,1,,#f0b518,APAR_32.3
11,HR8,#ee434d,,0,0,0,#cccccc,#fff450,0,0,0,0,11,,g/m3,,,#34d357,3,3,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc bezwgledna,2,1,,#f0b518,APAR_32.3
12,HR9,#ee434d,,0,0,0,#cccccc,#fcb540,0,0,0,0,12,,°C,,,#34d357,4,3,1,0,1,0,0,Y-m-d H:i:s,Punkt rosy/szronu,2,1,,#f0b518,APAR_32.3

In [8]:
regListEnable=regList[regList['disabled']=='0']
regListEnable.head()

,addr,alert_color,category,delay,dictid,disabled,disabled_color,graph_color,has_alert,has_disabled,has_normal,has_warning,id,max_allowed_value,measureUnits,min_allowed_value,modbusAddr,normal_color,order_id,plcid,precision_digits,priority,save_graph_data,save_to_log,time_duration,timeformat,title_x,type,value_format,variable,warning_color,title_y
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,1,,%RH,,,#34d357,1,1,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518,APAR_30.1
2,HR7,#ee434d,,0,0,0,#cccccc,#aa55a1,0,0,0,0,2,,°C,,,#34d357,2,1,1,0,1,0,0,Y-m-d H:i:s,Temperatura,2,1,,#f0b518,APAR_30.1
3,HR8,#ee434d,,0,0,0,#cccccc,#fff450,0,0,0,0,3,,g/m3,,,#34d357,3,1,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc bezwgledna,2,1,,#f0b518,APAR_30.1
4,HR9,#ee434d,,0,0,0,#cccccc,#fcb540,0,0,0,0,4,,°C,,,#34d357,4,1,1,0,1,0,0,Y-m-d H:i:s,Punkt rosy/szronu,2,1,,#f0b518,APAR_30.1
5,HR6,#ee434d,,0,0,0,#cccccc,#0066b3,0,0,0,0,5,,%RH,,,#34d357,1,2,1,0,1,0,0,Y-m-d H:i:s,Wilgotnosc wzgledna,2,1,,#f0b518,APAR_31.2

In [9]:
def graphListReq():
    print('\n3 :Graph Req\n')
    # displayHeader(headers)  # wystarczy podstawowy naglowek
    req3 = graphList(device_adress, headers)
    return req3

In [10]:
graph=graphListReq()

3 :Graph Req

In [11]:
graphList=pd.DataFrame(graph)
graphList.index=graphList['id']
graphList

,category,height,id,max_val,max_val_second,min_val,min_val_second,priority,regs_values,title,zones_values
id,,,,,,,,,,,
1,0 RG,350,1,,,,,0,2^^^^#000066^1|6^^^^#000033^1|10^^^^#0000FF^1|...,Temperatura,[]
2,0 RG,350,2,100,,0,,0,1^^^^#000066^1|5^^^^#000033^1|9^^^^#0000FF^1|1...,Wilgotnosc,[]
3,1 Mieszkanie,350,3,,,,,0,22^^^^#000066^1|26^^^^#000033^1|45^^^^#0000FF^...,Temperatura,[]
4,1 Mieszkanie,350,4,100,,0,,0,21^^^^#000066^1|25^^^^#000033^1|44^^^^#0000FF^...,Wilgotnosc,[]
5,2 Mieszkanie,350,5,,,,,0,137^^^^#000066^1|145^^^^#0000FF^1|149^^^^#0000...,Temperatura,[]
6,2 Mieszkanie,350,6,,,,,0,136^^^^#000066^1|144^^^^#0000FF^1|148^^^^#0000...,Wilgotnosc,[]
7,3 Mieszkanie,350,7,,,,,0,253^^^^#000066^1|257^^^^#000033^1|261^^^^#0000...,Temperatura,[]
8,3 Mieszkanie,350,8,,,,,0,252^^^^#000066|256^^^^#000033|260^^^^#0000FF|2...,Wilgotnosc,
9,4 Mieszkanie,350,9,,,,,0,305^^^^#000066|309^^^^#000033|313^^^^#0000FF|3...,Temperatura,
10,4 Mieszkanie,350,10,,,,,0,304^^^^#000066|308^^^^#000033|312^^^^#0000FF|3...,Wilgotnosc,
11,5 Mieszkanie,350,11,,,,,0,365^^^^#000066|369^^^^#000033|373^^^^#0000FF|3...,Temperatura,
12,5 Mieszkanie,350,12,,,,,0,364^^^^#000066|368^^^^#000033|372^^^^#0000FF|3...,Wilgotnosc,
13,6 Mieszkanie,350,13,,,,,0,417^^^^#000066|421^^^^#000033|425^^^^#0000FF|4...,Temperatura,
14,6 Mieszkanie,350,14,,,,,0,416^^^^#000066|420^^^^#000033|424^^^^#0000FF|4...,Wilgotnosc,
15,7 Mieszkanie,350,15,,,,,0,477^^^^#000066|481^^^^#000033|485^^^^#0000FF|4...,Temperatura,
16,7 Mieszkanie,350,16,,,,,0,476^^^^#000066|480^^^^#000033|484^^^^#0000FF|4...,Wilgotnosc,
17,Liczniki wody,350,17,,,,,0,4155^^^^#f04e4d^1|4156^^^^#f68e76^1|4146^^^^#f...,Liczniki wody,[]
18,Stacje pogodowe,350,18,,,,,0,4340^^^^#ba131a^1|4348^^^^#f79883^1|4356^^^^#c...,Stacje Pogodowe Temperatura,[]
19,Stacje pogodowe,350,19,100,,0,,0,3863^^^^#c1151b^1|3865^^^^#f68c74^1|3867^^^^#c...,Stacje Pogodowe Wilgotność,[]
20,Stacje pogodowe,350,20,5,,0,,0,4345^^^^#b9131a^1|4353^^^^#f68f76^1|4361^^^^#b...,Stacje Pogodowe Wiatr,[]
21,Liczniki energii,350,21,,,,,0,2201^Mieszkanie 1^^^#ce181e^1|2268^Mieszkanie ...,Całkowita moc czynna układu,[]
22,Liczniki energii,350,22,,,,,0,2202^Mieszkanie 1^^^#ce181e^1|2269^Mieszkanie ...,Całkowita moc pozorna układu,[]
23,Liczniki energii,350,23,1000,,-3000,,0,2203^Mieszkanie 1^^^#df1a21^1|2270^Mieszkanie ...,Całkowita moc bierna układu,[]
24,Ciepłomierze,350,24,2,,,,0,4300^^^^#b9131a^1|4311^^^^#f68e76^1|4278^^^^#d...,Ciepłomierze Przepływ [m3h],[]
25,Ciepłomierze,350,25,,,,,0,4299^^^^#b9131a^1|4310^^^^#f69078^1|4277^^^^#c...,Ciepłomierze Liczniki [m3],[]
26,Ciepłomierze,350,26,30,,0,,0,4301^^^^#b9131a^1|4312^^^^#f5866f^1|4279^^^^#c...,Ciepłomierze Moc [W],[]
27,Ciepłomierze,350,27,,,,,0,4298^^^^#c0151b^1|4309^^^^#f69078^1|4276^^^^#d...,Ciepłomierze Energia [J],[]
28,Liczniki energii,350,28,,,,,0,2242^Mieszkanie 1^^^#ba131a^1|2309^Mieszkanie ...,Całkowita energia czynna,[]
29,Liczniki energii,350,29,,,,,0,2243^Mieszkanie 1^^^#ba131a^1|2310^Mieszkanie ...,Całkowita energia bierna,[]

In [33]:
from datetime import datetime

def graphDataReq(headers, k):
    print('\n4 :Graph Data Req\n')
    # displayHeader(headers)  # wystarczy podstawowy naglowek
    req4 = getGraph(device_adress, headers, k)  # odczytanie danych z wykresow
    return req4



def range(rok,miesiac,dzien):
    wh_slices = 40
    length = 1
    dt = datetime(rok,miesiac,dzien)
    unixtime = time.mktime(dt.timetuple())  # - time.timezone
    date = datetime.fromtimestamp(unixtime).strftime('%Y-%m-%d  %H:%M:%S')
    wh_start = int(unixtime)
    return wh_start, wh_slices, date, length

def head(wh_start, wh_slices, lenght):
    # Ustalenie nagłowka dla wykresu
    wh_stop = wh_start + lenght * 60 * 60 * 24
    headers['X-WH-CONNS'] = ''
    headers['X-WH-REGS'] = ''
    headers['X-WH-START'] = str(wh_start)
    headers['X-WH-END'] = str(wh_stop)
    headers['X-WH-SLICES'] = str(wh_slices)
    return headers

wh_start, wh_slices, date, lenght=range(2019,2,5)
headers = head(wh_start, wh_slices, lenght)

headers

{'X-WH-APIKEY': 'D606230FEB2CCF4A3520B334BE0E5A29C1311EB0',
 'Accept': 'application/json',
 'Content-Type': 'application/json',
 'X-WH-CONNS': '',
 'X-WH-START': '1549321200',
 'X-WH-END': '1549407600',
 'X-WH-REG-IDS': '',
 'X-WH-SLICES': '40',
 'X-WH-REGS': ''}

In [44]:
rawData=graphDataReq(headers,24)

4 :Graph Data Req

In [45]:
wiatr=pd.DataFrame(rawData)
wiatr['x'] = pd.to_datetime(wiatr['x'], unit='ms')

In [46]:
old_names = wiatr.columns.tolist()
new_names = ['{}_{}'.format(i,regList['title_y'].loc[i]) for i in old_names if i !='x']
print(dict(zip(old_names, new_names)))
wiatr.rename(columns=dict(zip(old_names, new_names)), inplace=True)
wiatr.head()

{'4245': '4245_Mbus Apators', '4256': '4256_Mbus Apators', '4267': '4267_Mbus Apators', '4278': '4278_Mbus Apators', '4289': '4289_Mbus Apators', '4300': '4300_Mbus Apators', '4311': '4311_Mbus Apators', '4322': '4322_Mbus Apators'}

,4245_Mbus Apators,4256_Mbus Apators,4267_Mbus Apators,4278_Mbus Apators,4289_Mbus Apators,4300_Mbus Apators,4311_Mbus Apators,4322_Mbus Apators,x
0,0.31;0.44;0.50,0.38;0.38;0.39,0.25;0.25;0.26,0.14;0.14;0.14,0.00;0.00;0.00,0.411000;0.813759;0.995000,0.00;0.00;0.00,0.00;0.00;0.00,2019-02-04 22:48:00
1,0.31;0.41;0.51,0.36;0.37;0.39,0.24;0.25;0.26,0.14;0.14;0.15,0.00;0.00;0.00,0.411000;0.468548;0.857000,0.00;0.00;0.00,0.00;0.00;0.00,2019-02-04 23:24:00
2,0.31;0.44;0.55,0.36;0.37;0.38,0.24;0.25;0.26,0.11;0.13;0.15,0.00;0.00;0.00,0.411000;0.810697;1.007000,0.00;0.00;0.00,0.00;0.00;0.00,2019-02-05 00:00:00
3,0.46;0.49;0.52,0.38;0.38;0.38,0.25;0.25;0.25,0.11;0.13;0.15,0.00;0.00;0.00,0.997000;0.997433;0.998000,0.00;0.00;0.00,0.00;0.00;0.00,2019-02-05 00:36:00
4,0.41;0.48;0.53,0.37;0.38;0.38,0.25;0.25;0.25,0.00;0.09;0.15,0.00;0.00;0.00,0.411000;0.788989;0.997000,0.00;0.00;0.00,0.00;0.00;0.00,2019-02-05 01:12:00

In [47]:
# dd=[]
# for i in wiatr.keys():
#     if i!='x':
#         vals=['min','avg','max']
#         devs=wiatr[i].str.split(';', expand=True).rename(columns = lambda x:vals[x] )
#         d6 = pd.DataFrame({(i, "min"):devs['min'].astype('float'),(i, "avg"):devs['avg'].astype('float'),(i, "max"):devs['max'].astype('float'),})
#         dd.append(d6)
    
# result = pd.concat(dd, axis=1, sort=False)

In [48]:
wiatr['x'].head()

0   2019-02-04 22:48:00
1   2019-02-04 23:24:00
2   2019-02-05 00:00:00
3   2019-02-05 00:36:00
4   2019-02-05 01:12:00
Name: x, dtype: datetime64[ns]

In [49]:
wind=pd.DataFrame(dict([(('Time',''),wiatr['x'])]))
dd=[wind]
# dd=[]
for i in wiatr.keys():
    if i!='x':
        vals=['min','avg','max']
        devs=wiatr[i].str.split(';', expand=True).rename(columns = lambda x:vals[x] )  
        dfp= pd.DataFrame(dict([((i,'min'), devs['min'].astype('float')),
                                ((i,'avg'), devs['avg'].astype('float')),
                                ((i,'max'), devs['max'].astype('float')),]))
        dd.append(dfp)
df = pd.concat(dd, axis=1)
# df.index=wiatr['x']
# df=df.reset_index()
# pd.merge(left=df, right=wind, left_index=True, right_index=True)

In [50]:
df.head()

                 Time 4245_Mbus Apators             4256_Mbus Apators        \
                                    min   avg   max               min   avg
0 2019-02-04 22:48:00              0.31  0.44  0.50              0.38  0.38
1 2019-02-04 23:24:00              0.31  0.41  0.51              0.36  0.37
2 2019-02-05 00:00:00              0.31  0.44  0.55              0.36  0.37
3 2019-02-05 00:36:00              0.46  0.49  0.52              0.38  0.38
4 2019-02-05 01:12:00              0.41  0.48  0.53              0.37  0.38

        4267_Mbus Apators             4278_Mbus Apators              \
    max               min   avg   max               min   avg   max
0  0.39              0.25  0.25  0.26              0.14  0.14  0.14
1  0.39              0.24  0.25  0.26              0.14  0.14  0.15
2  0.38              0.24  0.25  0.26              0.11  0.13  0.15
3  0.38              0.25  0.25  0.25              0.11  0.13  0.15
4  0.38              0.25  0.25  0.25              0.00  0.09  0.15

  4289_Mbus Apators           4300_Mbus Apators                   \
                min  avg  max               min       avg    max
0               0.0  0.0  0.0             0.411  0.813759  0.995
1               0.0  0.0  0.0             0.411  0.468548  0.857
2               0.0  0.0  0.0             0.411  0.810697  1.007
3               0.0  0.0  0.0             0.997  0.997433  0.998
4               0.0  0.0  0.0             0.411  0.788989  0.997

  4311_Mbus Apators           4322_Mbus Apators
                min  avg  max               min  avg  max
0               0.0  0.0  0.0               0.0  0.0  0.0
1               0.0  0.0  0.0               0.0  0.0  0.0
2               0.0  0.0  0.0               0.0  0.0  0.0
3               0.0  0.0  0.0               0.0  0.0  0.0
4               0.0  0.0  0.0               0.0  0.0  0.0

In [51]:
df.to_csv('logi/wiatr.csv')

In [52]:
df.columns.tolist()

[('Time', ''),
 ('4245_Mbus Apators', 'min'),
 ('4245_Mbus Apators', 'avg'),
 ('4245_Mbus Apators', 'max'),
 ('4256_Mbus Apators', 'min'),
 ('4256_Mbus Apators', 'avg'),
 ('4256_Mbus Apators', 'max'),
 ('4267_Mbus Apators', 'min'),
 ('4267_Mbus Apators', 'avg'),
 ('4267_Mbus Apators', 'max'),
 ('4278_Mbus Apators', 'min'),
 ('4278_Mbus Apators', 'avg'),
 ('4278_Mbus Apators', 'max'),
 ('4289_Mbus Apators', 'min'),
 ('4289_Mbus Apators', 'avg'),
 ('4289_Mbus Apators', 'max'),
 ('4300_Mbus Apators', 'min'),
 ('4300_Mbus Apators', 'avg'),
 ('4300_Mbus Apators', 'max'),
 ('4311_Mbus Apators', 'min'),
 ('4311_Mbus Apators', 'avg'),
 ('4311_Mbus Apators', 'max'),
 ('4322_Mbus Apators', 'min'),
 ('4322_Mbus Apators', 'avg'),
 ('4322_Mbus Apators', 'max')]

In [53]:
df.dtypes

Time                      datetime64[ns]
4245_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4256_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4267_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4278_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4289_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4300_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4311_Mbus Apators  min           float64
                   avg           float64
                   max           float64
4322_Mbus Apators  min           float64
                   avg           float64
                   max           float64
dtype: object

In [54]:
df.columns

MultiIndex(levels=[['4245_Mbus Apators', '4256_Mbus Apators', '4267_Mbus Apators', '4278_Mbus Apators', '4289_Mbus Apators', '4300_Mbus Apators', '4311_Mbus Apators', '4322_Mbus Apators', 'Time'], ['', 'avg', 'max', 'min']],
           codes=[[8, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7], [0, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2]])